
/* Sub Navbar */

#header-2 {
  padding-top: 15px;
  width: 100%;
  background: #FFF;
}

.slider-wrapper {
  margin: auto;
  margin-bottom: 10px;
  margin-top: 0px;
  border-top: solid 1px #cccccc;
  border-bottom: none;

}

.nav-wrapper {
  margin-bottom: 25px;
}

#site-navigation {
  clear: both;
  display: block;
  display: inline-block;
  background: #ffffff;
  padding-bottom: 0px;
  border: none;
  margin-top: -15px;
  text-align: center;
  float: left;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #f6f7f9;
}
#site-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-bottom: 0px;
}
#site-navigation ul > li > a {
  padding-bottom: 14px;
  padding-top: 25px;
}

#site-navigation li {
  position: relative;
  clear: right;
  float: left;
}
#site-navigation .nav .caret {
  display: none;
}
#site-navigation a {
  display: block;
  color: #8b8b8b;
  text-decoration: none;
  padding: 16px 10px;
  font-weight: normal;
}

#site-navigation li:hover > a {
  border-bottom: #333399 solid 1px;
  padding-bottom: 13px;
  color: #333399;
}

#site-navigation .active > a,
#site-navigation .current_page_item > a {
  border-bottom: #333399 solid 1px;
  padding-bottom: 13px;
  color: #333399;
 }


.glyphicon.glyphicon-search{
    top: 2px;
    left: 2px;
}

.btn.btn-primary {
    background-color: #5353c6;
}

/*Validator icon position fix*/
.form-control-feedback {
    line-height: 27px !important;
  }
/*modal dialog position fix*/
.modal-dialog { position: absolute; left: 0; right: 0; top: 40%; bottom: 0; margin: auto; }

/*modal dialog progress bar*/
.progress-bar.progress-bar-success {
    background-color: #5353c6;
}

/* Loader */
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #5353c6; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.navbar.navbar-default.navbar-fixed-top{
    background-color: #5353c6;
    border-bottom-color: #5353c6
}

#navbar-menu li > a{
    color: whitesmoke!important;
}

#navbar-menu > .active > a,
#navbar-menu li:hover{
    background-color: #6b6bff;
}

#navbar > .navbar-header > a {
    color: whitesmoke;
}

