<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="mandisfront" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="mandisfront" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="mandisfront" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="mandis" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mandis</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/table.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.7.1/angular-local-storage.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script src="js/main.js"></script>

</head>
<body style="background-color: #f6f7f9">

<!-- Body -->
<div class="col-md-12">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse" style="float:right;margin-right:15%">
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand">Mandis</a>
                </div>
                <ul id="navbar-menu" class="nav navbar-nav">
                    <li class="active">
                        <a style="font-size: 16px" href="home-area.html">Ricerca</a>
                    </li>
                    <li>
                        <a style="font-size: 16px" href="inserimento.html">Inserimento</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>
<div class="container-fluid float-right" style="margin-top: 40px">

    <!-- Google Map -->
    <div class="col-md-7 " >
        <div id="map" style="height:94.5vh;margin-top: 11px; margin-left:-28px"></div>
    </div>
    <!-- Google Map ends -->

    <div class="col-md-5">
        <div class="row" style="margin-top:15px">
            <div class="default-nav-wrapper col-md-8 col-xs-12">
                <div id="site-navigation">
                    <div id="nav-container">
                        <div class="menu-primary-container">
                            <ul class="menu nav-menu" id="menu-primary">
                                <li class="active">
                                    <a href="home-area.html">Area</a>
                                </li>
                                <li>
                                    <a href="sorgente.html">Sorgente</a>
                                </li>
                                <li>
                                    <a href="home.html">Diagnosi</a>
                                </li>
                                <li>
                                    <a style="height: 59px">
                                    <button onclick="tip()" style="outline:none;background:none;border:none"><i class="glyphicon glyphicon-question-sign"> </i></button>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="slider-wrapper"></div>
    </div>

    <div id="tip" class="col-md-5" style="display: none">
        <div class="alert alert-info">
            <strong>Info!</strong> Disegnare un'area sulla mappa e cliccare il tasto Cerca. Verranno mostrate tutte le patologie più frequenti all'interno dell'area disegnata e tutte le sorgenti di inquinamento più vicine.
        </div>
    </div>

    <div id="error_alert" class="col-md-5" style = "display: none" >
        <div id="error_text" class="alert alert-danger">
        </div>
    </div>

    <form id="ricerca_sorgenti" method="post">
        <div class="col-md-5">
            <fieldset>
            <legend>
                Ricerca diagnosi e sorgenti più vicine
            </legend>
            </fieldset>
        </div>
        <div ng-app = "mandis" ng-controller = "diagnosi_controller" id="diagnosi_ctrl">
            <div class="col-md-4 form-group">
                <button id="search_btn" class="btn btn-primary"  ng-click="search()">
                    Cerca
                    <i class="glyphicon glyphicon-search"> </i>
                </button>
                <button id="reset_btn" class="btn btn-danger" onclick="reset_search()">
                    Reset
                    <i class="glyphicon glyphicon-repeat"> </i>
                </button>
            </div>
            <div class="col-md-5">

                <!-- Tabella diagnosi -->

                <div class="col-md-5" style="margin-left: -15px ">
                    <fieldset>
                        <legend>
                            Diagnosi
                        </legend>
                    </fieldset>

                    <table id="diagnosi_tab" class="table table-sm table-hover">
                        <thead class="thead">
                        <tr>
                            <th>Patologia</th>
                            <th>Frequenza</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in diagnosi">
                            <td>{{x[0]}}</td>
                            <td>{{x[1]}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Tabella sorgenti -->
                <div class="col-md-7" style = "margin-left: 15px">
                    <fieldset>
                        <legend>
                            Sorgenti
                        </legend>
                    </fieldset>

                    <table id="sorgenti_tab" class="table table-hover">
                        <thead class="thead">
                            <tr>
                                <th>Distanza(Km)</th>
                                <th>Data Inizio</th>
                                <th>Data Fine</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in sorgenti"  ng-click="evidenzia_poligono(x)">
                                <td>{{x.properties.distanza/1000 | number : 3}}</td>
                                <td>{{x.properties.data_inizio | date:"dd/MM/yyyy"}}</td>
                                <td>{{x.properties.data_fine | date:"dd/MM/yyyy"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </form>
</div>
</body>

<script>
    var shapes = [];
    var circle;
    var map;
    var polygon_overlay=null;
    var drawingManager=null;
    var geoJson=null;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 41.066927730193456,
                lng: 14.330291748046875
            },
            zoom: 9
        });

        var infowindow = new google.maps.InfoWindow();

        drawingManager = new google.maps.drawing.DrawingManager({
            drawingMode: google.maps.drawing.OverlayType.POLYGON,
            drawingControl: true,
            drawingControlOptions: {
                position: google.maps.ControlPosition.TOP_CENTER,
                drawingModes: ['circle', 'polygon', 'rectangle']
            },
            markerOptions: {icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'},
            circleOptions: {
                fillColor: '#06ff8f',
                strokeColor: '#0b9c07',
                strokeWeight: 2.5,
                clickable: false,
                editable: true,
                zIndex: 1
            },
            polygonOptions: {
                fillColor: '#06ff8f',
                strokeColor: '#0b9c07',
                strokeWeight: 2.5,
                editable: true
            },
            rectangleOptions: {
                fillColor: '#06ff8f',
                strokeColor: '#0b9c07',
                strokeWeight: 2.5,
                editable: true
            }

        });

        drawingManager.setMap(map);

        // Add a listener for creating new shape event.
        google.maps.event.addListener(drawingManager, "overlaycomplete", function (event) {
            var newShape = event.overlay;
            newShape.type = event.type;
            shapes.push(newShape);
            addEditListener(newShape);
            geoJson = exportGeoJson(newShape);
            sessionStorage.setItem('geoJson', JSON.stringify(geoJson));
            if (drawingManager.getDrawingMode()) {
                drawingManager.setDrawingMode(null);
            }
        });

        //Add a listener for circle radius change
        function addEditListener(shape){
            newShape = shape;
            switch (newShape.type){
                case google.maps.drawing.OverlayType.CIRCLE: {
                    newShape.addListener("radius_changed", function(){
                        geoJson = exportGeoJson(newShape);
                        sessionStorage.removeItem('geoJson');
                        sessionStorage.setItem('geoJson', JSON.stringify(geoJson));
                    });

                    newShape.addListener("center_changed", function(){
                        geoJson = exportGeoJson(newShape);
                        sessionStorage.removeItem('geoJson');
                        sessionStorage.setItem('geoJson', JSON.stringify(geoJson));
                    });
                    break;
                }

                case google.maps.drawing.OverlayType.RECTANGLE: {
                    newShape.addListener("bounds_changed", function(){
                        geoJson = exportGeoJson(newShape);
                        sessionStorage.removeItem('geoJson');
                        sessionStorage.setItem('geoJson', JSON.stringify(geoJson));
                    });
                    break;
                }

                case google.maps.drawing.OverlayType.POLYGON: {
                    newShape.getPath().addListener("set_at", function(){
                        geoJson = exportGeoJson(newShape);
                        sessionStorage.removeItem('geoJson');
                        sessionStorage.setItem('geoJson', JSON.stringify(geoJson));
                    });

                    newShape.getPath().addListener("insert_at", function(){
                        geoJson = exportGeoJson(newShape);
                        sessionStorage.removeItem('geoJson');
                        sessionStorage.setItem('geoJson', JSON.stringify(geoJson));
                    });
                    break;
                }
            }
            sessionStorage.setItem('geoJson', JSON.stringify(geoJson));
        };

        // add a listener for the drawing mode change event, delete any existing polygons
        google.maps.event.addListener(drawingManager, "drawingmode_changed", function () {
            if (drawingManager.getDrawingMode() != null) {
                reset_search();
            }
        });

        map.data.addListener('click', function(event){
            show_infowindow(event, infowindow, get_source_string(event), get_diagnosi_string(event));
        });



    }

    $.ajax({
        type : "GET",
        dataType : "json",
        url : "https://floating-lowlands-19121.herokuapp.com/sorgenti/",
        success : function(data) {
            map.data.addGeoJson(JSON.parse(data));
            map.data.setStyle(function() {
                return ( {
                    fillColor : "red",
                    fillOpacity : 0.25
                });
            });
        }
    });



    $.ajax({
        type : "GET",
        dataType : "json",
        url : "https://floating-lowlands-19121.herokuapp.com/diagnosi/",
        success : function(data) {
            map.data.addGeoJson(JSON.parse(data));
        }
    });

</script>

<script>
    var app = angular.module('mandis', ['LocalStorageModule']);

    //diagnosi controller begins
    app.controller('diagnosi_controller', function($scope, $filter, $http, $window) {

        $scope.search = function() {

            if(validate_shape()==null){
                show_error("Disegna sulla mappa un'area per la ricerca.");
                return;
            }

            hide_error();
            showPleaseWait();
            reset_overlay();
            reset_tabelle();

            //Query diagnosi nell'area indicata sulla mappa
            $http.post("https://floating-lowlands-19121.herokuapp.com/ricerca_malattie_per_area/", sessionStorage.getItem('geoJson')).then(function (response) {
                $scope.diagnosi = JSON.parse(response.data);
                hidePleaseWait();
            }, function (err) {
                alert(err);
                hidePleaseWait();
            });


            //Query sorgenti di inquinamento più vicine all'area indicata sulla mappa
            $http.post("https://floating-lowlands-19121.herokuapp.com/ricerca_sorgenti_per_area/", sessionStorage.getItem('geoJson')).then(function (response) {
                $scope.sorgenti = JSON.parse(response.data).features;
                polygon_overlay = new google.maps.Data(map);
                polygon_overlay.setMap(map);
                polygon_overlay.addGeoJson(JSON.parse(response.data));
                polygon_overlay.addListener('click', function(event){
                    show_infowindow(event, $window.infowindow);
                });
                polygon_overlay.setStyle(function() {
                    return ( {
                        fillColor : "blue",
                        fillOpacity : 0.25
                    });
                });
            }, function (err) {
                alert(err);
                hidePleaseWait();
            });

        };

        $scope.evidenzia_poligono = function(tmp){
            poly_clicked(tmp);
        }
    });
    //diagnosi controller ends
</script>

<script>
    $(document).ready(function() {
        var dignosi_tab = $('#diagnosi_tab').DataTable({
            "scrollY" : "500px",
            "order" : [],
            "language": {
                "emptyTable": "Fine risultati"
            },
            "columns" : [
            {
                "name" : "Patologia",
                "orderable" : false
            }, {
                "name" : "Frequenza",
                "orderable" : false
            }],
            "scrollCollapse" : true,
            "paging" : false,
            "sDom" : '<"top"i>rt<"bottom"flp><"clear">',
            "searching" : false,
            "info" : false,
            "fnInitComplete" : function() {
                this.fnAdjustColumnSizing();
            }
        });

        var sorgenti_tab = $('#sorgenti_tab').DataTable({
            "scrollY" : "500px",
            "order" : [],
            "language": {
                "emptyTable": "Fine risultati"
            },
            "columns" : [
                {
                    "name" : "Distanza",
                    "orderable" : false
                },{
                    "name" : "Data Inizio",
                    "orderable" : false
                }, {
                    "name" : "Data Fine",
                    "orderable" : false
                }],
            "scrollCollapse" : true,
            "paging" : false,
            "sDom" : '<"top"i>rt<"bottom"flp><"clear">',
            "searching" : false,
            "info" : false,
            "fnInitComplete" : function() {
                this.fnAdjustColumnSizing();
            }
        });
    });

    function exportGeoJson(shape) {
        var geoJson = {
            "type": "FeatureCollection",
            "features": []
        };
        var shapeFeature = {
            "type": "Feature",
            "geometry": {
                "type": "",
                "coordinates": []
            },
            "properties": {}
        };
        var arr = [];
        switch (shape.type) {
            case google.maps.drawing.OverlayType.POLYGON: {
                for (var i = 0; i < shape.getPath().getLength(); i++) {
                    var pt = shape.getPath().getAt(i);
                    arr.push([pt.lng(), pt.lat()]);
                }
                var pt = shape.getPath().getAt(0);
                arr.push([pt.lng(), pt.lat()]);
                shapeFeature.geometry.coordinates.push(arr);
                shapeFeature.geometry.type = google.maps.drawing.OverlayType.POLYGON;
                geoJson.features.push(shapeFeature);
                break;
            }
            case google.maps.drawing.OverlayType.RECTANGLE: {
                var b = shape.getBounds(),
                    p = [   [
                            b.getSouthWest().lng(),
                            b.getSouthWest().lat()
                        ],
                            [
                            b.getNorthEast().lng(),
                            b.getSouthWest().lat()
                        ],
                            [
                            b.getNorthEast().lng(),
                            b.getNorthEast().lat()
                        ],
                            [
                            b.getSouthWest().lng(),
                            b.getNorthEast().lat()
                        ],
                            [
                            b.getSouthWest().lng(),
                            b.getSouthWest().lat()
                        ]

                    ]
                shapeFeature.geometry.coordinates.push(p);
                shapeFeature.geometry.type = google.maps.drawing.OverlayType.POLYGON;
                geoJson.features.push(shapeFeature);
                break;
            }
            case google.maps.drawing.OverlayType.CIRCLE:{
                var center = [
                    shape.getCenter().lng(),
                    shape.getCenter().lat()
                ]
                shapeFeature.geometry.type = google.maps.drawing.OverlayType.CIRCLE;
                shapeFeature.geometry.coordinates.push(center);
                shapeFeature.properties = shape.getRadius();
                geoJson.features.push(shapeFeature);
                break;
            }
           }
        return geoJson;
    }

</script>

<script>
var polygon_clicked_overlay=null;

    function reset_tabelle(){
        //Reset della tabella delle diagnosi trovate
        var data_table= $('#diagnosi_tab').DataTable();
        data_table.clear();
        data_table.draw();

        //Reset della tabella delle sorgenti trovate
        var data_table_sorgenti= $('#sorgenti_tab').DataTable();
        data_table_sorgenti.clear();
        data_table_sorgenti.draw();
    }

    function reset_overlay(){
        //Reset delle sorgenti di inquinamento più vicine all'area indicata sulla mappa
        if(polygon_overlay!=null){
            polygon_overlay.setMap(null);
        }

        //Reset delle sorgenti selezionate dalla tabella
        if(polygon_clicked_overlay!=null){
            polygon_clicked_overlay.setMap(null);
        }
    }

    function reset_localStorage_sorgenti(){
        sessionStorage.removeItem('sorgenti_per_area');
    }

    function reset_localStorage_diagnosi(){
        sessionStorage.removeItem('diagnosi_per_area');
    }

    function reset_map_drawing(){
        //Reset dell'area disegnata tramite drawing manager di Google Maps
        for (var i = 0; i < shapes.length; i++) {
            shapes[i].setMap(null);
        }
        shapes = [];
    }

    function remove_geoJson(){
        sessionStorage.removeItem('geoJson');
    }

    function reset_search(){
        reset_map_drawing();
        reset_overlay();
        reset_tabelle();
        remove_geoJson();
        reset_localStorage_diagnosi();
        reset_localStorage_sorgenti();
        hide_error();
    }



    //Evidenzia sulla mappa la sorgente relativa alla riga della tabella sorgenti cliccata
    function poly_clicked(poly){
        var latlng=null;
        if(polygon_clicked_overlay!=null){
            polygon_clicked_overlay.setMap(null);
        }
        polygon_clicked_overlay = new google.maps.Data(map);
        polygon_clicked_overlay.setMap(map);
        polygon_clicked_overlay.addGeoJson(poly);
        polygon_clicked_overlay.setStyle(function() {
            return ( {
                fillColor : "yellow",
                fillOpacity : 0.5,
                strokeColor: "yellow"
            });
        });

        //Prende il primo punto del geometry. Su questo verrà centrata la mappa
        if(poly.geometry.type == 'LineString'){
            latlng = new google.maps.LatLng(poly.geometry.coordinates[0][1], poly.geometry.coordinates[0][0])
        }
        if(poly.geometry.type == 'Polygon'){
            latlng = new google.maps.LatLng(poly.geometry.coordinates[0][0][1], poly.geometry.coordinates[0][0][0])
        }
        map.setCenter(latlng);
    }


</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCra5AQ9_m4TUQRk-iVIBRKoIQvNyRsc2E&libraries=drawing&callback=initMap"></script>
</html>
