<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="mandisfront" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="mandisfront" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="mandisfront" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="mandis" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mandis</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/table.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <script src="js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.7.1/angular-local-storage.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>


</head>
<body style="background-color: #f6f7f9">

<!-- Body -->
<div class="col-md-12">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse" style="float:right;margin-right:15%">
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand">Mandis</a>
                </div>
                <ul id="navbar-menu" class="nav navbar-nav">
                    <li class="active">
                        <a href="home-area.html">Ricerca</a>
                    </li>
                    <li>
                        <a href="inserimento.html">Inserimento</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>
<div class="container-fluid float-right" style="margin-top: 40px">

    <!-- Google Map -->
    <div class="col-md-7 " >
        <div id="map" style="height:96vh; margin-left:-28px"></div>
    </div>
    <!-- Google Map ends -->

    <div class="col-md-5">
        <div class="row" style="margin-top:15px">
            <div class="default-nav-wrapper col-md-8 col-xs-12">
                <div id="site-navigation">
                    <div id="nav-container">
                        <div class="menu-primary-container">

                            <ul class="menu nav-menu" id="menu-primary">
                                <li>
                                    <a href="home-area.html">Area</a>
                                </li>
                                <li class="active">
                                    <a href="sorgente.html">Sorgente</a>
                                </li>
                                <li>
                                    <a href="home.html">Diagnosi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-wrapper"></div>
    </div>

    <div class="col-md-5">
        <div class="alert alert-info">
            <strong>Info!</strong> Spiegare come funziona la ricerca.
        </div>
    </div>

    <form id="ricerca_sorgenti" method="post">
        <div class="col-md-5">
            <fieldset>
                <legend>
                    Ricerca diagnosi
                </legend>
            </fieldset>
        </div>
        <div ng-app = "mandis" ng-controller = "sorgente_controller" id="sorgente_ctrl">
            <div class="col-md-4 form-group">
                <div class="row">
                    <label class="col-md-2 control-label">Distanza(Km)</label>
                </div>
                <div class="row inputGroupContainer">
                    <div class="col-md-6">
                        <div class="input-group">
                            <input type = "text" name="distanza" id="select_distanza" value="" placeholder="Inserisci la distanza">
                            </input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">

                <!-- Tabella sorgenti -->
                <div class="col-md-7" style="margin-left: -15px ">
                    <fieldset>
                        <legend>
                            Lista sorgenti
                        </legend>
                    </fieldset>
                    <div>
                        <table id="sorgenti_tab" class="table table-sm table-hover">
                            <thead class="thead">
                            <tr>
                                <th>Data Inizio</th>
                                <th>Data Fine</th>
                                <th>Cerca</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in sorgenti" ng-click="evidenzia_poligono(x)">
                                <td>{{::x.properties.data_inizio | date:'dd/MM/yyyy'}}</td>
                                <td>{{::x.properties.data_fine | date:'dd/MM/yyyy'}}</td>
                                <td>
                                    <button id="search_btn" style="outline:none;background:none;border:none" ng-click="search(x)">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Tabella diagnosi -->

                <div class = "col-md-5" style = "margin-left: 15px">
                    <fieldset>
                        <legend>
                            Diagnosi
                        </legend>
                    </fieldset>

                    <table id="diagnosi_tab" class="table table-sm table-hover">
                        <thead class="thead">
                        <tr>
                            <th>Patologia</th>
                            <th>Frequenza</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in diagnosi">
                            <td>{{x[0]}}</td>
                            <td>{{x[1]}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
</body>

<script>
    var app = angular.module('mandis', ['LocalStorageModule']);

    //diagnosi controller begins
    app.controller('sorgente_controller', function($scope, $filter, $http) {

        $http.get("https://floating-lowlands-19121.herokuapp.com/sorgenti/").then(function (response) {
            $scope.sorgenti = JSON.parse(response.data).features;
        }, function (err) {
            alert(err);
            hidePleaseWait();
        });

        $scope.search = function(sorgente) {
            var distanza = Number(document.getElementById('select_distanza').value);
            if(isNaN(distanza) == false && distanza>0) {
                showPleaseWait();
                var json = {
                    'distanza': distanza,
                    'features': sorgente
                };

                $http.post("https://floating-lowlands-19121.herokuapp.com/ricerca_diagnosi_per_sorgente/", json).then(function (response) {
                    $scope.diagnosi = JSON.parse(response.data);
                    hidePleaseWait();
                }, function (err) {
                    alert(err);
                    hidePleaseWait();
                });
            }
        };

        $scope.evidenzia_poligono = function(shape){
            poly_clicked(shape);
        };
    });
    //diagnosi controller ends
</script>

<script>
    var map;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center : {
                lat : 41.066927730193456,
                lng : 14.330291748046875
            },
            zoom : 9 // Center the map on Rome, Italy.
        });
    }

    $.ajax({
        type : "GET",
        dataType : "json",
        url : "https://floating-lowlands-19121.herokuapp.com/sorgenti/",
        success : function(data) {
            map.data.addGeoJson(JSON.parse(data));
            map.data.setStyle(function() {
                return ( {
                    fillColor : "red",
                    fillOpacity : 0.25
                });
            });
        }
    });

    $.ajax({
        type : "GET",
        dataType : "json",
        url : "https://floating-lowlands-19121.herokuapp.com/diagnosi/",
        success : function(data) {
            marker_added = map.data.addGeoJson(JSON.parse(data));
        }
    });

</script>
<script>
    polygon_clicked_overlay = null;

    $(document).ready(function() {
        $('#ricerca_sorgenti').bootstrapValidator({
            feedbackIcons : {
                valid : 'glyphicon glyphicon-ok',
                invalid : 'glyphicon glyphicon-remove',
                validating : 'glyphicon glyphicon-refresh'
            },
            fields : {
                distanza : {
                    validators : {
                        notEmpty : {
                            message : 'Inserisci la distanza'
                        },
                        numeric : {
                            message : 'Distanza non valida'
                        }
                    }
                }
            }
        });
    });

    $(document).ready(function() {
        var dignosi_tab = $('#diagnosi_tab').DataTable({
            "scrollY" : "500px",
            "order" : [],
            "language": {
                "emptyTable": "Nessun risultato"
            },
            "columns" : [
                {
                    "name" : "Patologia",
                    "orderable" : false
                }, {
                    "name" : "Frequenza",
                    "orderable" : false
                }],
            "scrollCollapse" : true,
            "paging" : false,
            "sDom" : '<"top"i>rt<"bottom"flp><"clear">',
            "searching" : false,
            "info" : false,
            "fnInitComplete" : function() {
                this.fnAdjustColumnSizing();
            }
        });

        var tab = $('#sorgenti_tab').DataTable({
            "scrollY" : "500px",
            "order" : [],
            "language": {
                "emptyTable": "Nessun risultato"
            },
            "columns" : [ {
                "name" : "Data Inizio",
                "orderable" : false
            }, {
                "name" : "Data Fine",
                "orderable" : false
            }, {
                "name" : "Cerca",
                "orderable" : false
            }],
            "scrollCollapse" : true,
            "paging" : false,
            "sDom" : '<"top"i>rt<"bottom"flp><"clear">',
            "searching" : false,
            "info" : false,
            "fnInitComplete" : function() {
                this.fnAdjustColumnSizing();
            }
        });
    });

    //Evidenzia sulla mappa la sorgente relativa alla riga della tabella sorgenti cliccata
    function poly_clicked(poly){
        var latlng=null;
        if(polygon_clicked_overlay!=null){
            polygon_clicked_overlay.setMap(null);
        }
        polygon_clicked_overlay = new google.maps.Data(map);
        polygon_clicked_overlay.setMap(map);
        polygon_clicked_overlay.addGeoJson(poly);
        polygon_clicked_overlay.setStyle(function() {
            return ( {
                fillColor : "yellow",
                fillOpacity : 0.5,
                strokeColor: "yellow"
            });
        });

        //Prende il primo punto del geometry. Su questo verrà centrata la mappa
        if(poly.geometry.type == 'LineString'){
            latlng = new google.maps.LatLng(poly.geometry.coordinates[0][1], poly.geometry.coordinates[0][0])
        }
        if(poly.geometry.type == 'Polygon'){
            latlng = new google.maps.LatLng(poly.geometry.coordinates[0][0][1], poly.geometry.coordinates[0][0][0])
        }
        map.setCenter(latlng);
    }


</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCra5AQ9_m4TUQRk-iVIBRKoIQvNyRsc2E&callback=initMap"></script>
</html>
